<div class="card">
    <div class="out-side">
        <div class="front">
            <p>Happy Birthday</p>
            <div class="cake">
                <div class="top-layer"></div>
                <div class="midle-layer"></div>
                <div class="bottom-layer"></div>
                <div class="candle"></div>
            </div>
        </div>
        <div class="back"></div>
    </div>
    <div class="in-side">
        <p>Chúc em sinh nhật vui vẻ, tràn ngập niềm vui và tiếng cười.... mãi yêu! &#9829;</p>
    </div>
    <canvas id="canvas"></canvas>
</div>
<script src="/js/confetti.js"></script>
<script>
    startConfetti();
</script>