<!DOCTYPE html>
<html lang="{{ site.language }}" class="relative">
<head>
  {% include "head.njk" %}
</head>
<body class="font-sans">
  {% include "birthdayCard.njk" %}
</body>
  {# {% include "footer.njk" %} #}
</html>
